OPENAI_API_KEY= 'sk-proj-fjchS4MpVTn6WnuQx4x8T3BlbkFJNh1mFXMaJhwP4BPiFN3k'
ELASTICSEARCH_KEY = 'elasticsearch123docker'
# model_server_ip= "https://localhost:9200"
ca_certs = "C:\elasticsearch-8.15.3\config\certs\http_ca.crt"
MONGO_URL=mongodb://root:root12345!!@mongodb:27017/  
GOOGLE_TRANSLATE_API_KEY= 'AIzaSyCE7GdcPfeYZkcYjxsWm4uagq2VlsynEms'
OPENAI_API_VERSION = "gpt-35-turbo"
AZURE_OPENAI_ENDPOINT = "https://container1.openai.azure.com/openai/deployments/gpt-35-turbo"
AZURE_OPENAI_API_KEY = "9k9H4skploPnHIXeBJJvf9ZGI3oLPjTxcmk6m1vjot9CjWv7BWQ1JQQJ99BCAC77bzfXJ3w3AAABACOGY3Y7"
GOOGLE_API_KEY = "AIzaSyCSnu3kWZ1cT2hhHyny38eoQIhV0L6SDw4"
AZURE_OPENAI_API_KEY= "9k9H4skploPnHIXeBJJvf9ZGI3oLPjTxcmk6m1vjot9CjWv7BWQ1JQQJ99BCAC77bzfXJ3w3AAABACOGY3Y7"
AZURE_OPENAI_ENDPOINT= "https://container1.openai.azure.com/"
AZURE_OPENAI_DEPLOYMENT = "gpt-35-turbo"