langchain==0.2.0
pypdf==4.2.0
python-dotenv==1.0.0
elasticsearch==8.14.0
langchain-elasticsearch==0.2.2
tiktoken==0.4.0
streamlit==1.30.0
fastapi==0.111.0
uvicorn==0.30.1
langchain_experimental
ipykernel
semchunk
langchain_community
openai
pymongo
langchain_core
doctran
langdetect
google.api_core
google.cloud
google-cloud-translate
pytz
pyaudio
pygame
gTTS
scipy
faster_whisper
numpy
